* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a:focus,
a:active {
  outline: none;
  box-sizing: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", Sans-Serif;
  background-color: #151515;
  color: white;
}

html.sr .load-hidden {
  visibility: hidden;
}

/*
button {
  background: rgba(255, 255, 255, 1);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
  padding: 0.5rem;
  transition: all 0.2s ease-out;
  font-size: 1rem;
}
*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.7rem;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.3rem;
  padding-left: 1rem;
  gap: 0.15rem;
}

.logo img {
  height: 4rem;
  margin-top: 0.2rem;
  pointer-events: none;
  user-select: none;
}

.logo-container span {
  font-size: 1.7rem;
  font-weight: bold;
}

.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  gap: 0.6rem;
}

.account {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.logout {
  text-align: center;
}

.menu a,
.logout,
.remove-journal {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0px;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
}

.menu a:hover,
.logout:hover,
.remove-journal:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: none;
  background: none;
  color: black;
}

.logout,
.remove-journal {
  background: rgba(237, 75, 75, 0.9);
}

.logout:hover,
.remove-journal:hover {
  border: 2px solid rgba(237, 75, 75, 0.9);
}

.main {
  margin: 1rem;
  width: 95vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.1rem 0.8rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.analytics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dash-gym-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 2px;
}

.dash-gym-info h1 {
  font-size: 2.4rem;
}

.gym-info-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 1.2rem;
}

.box-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  box-sizing: border-box;
  margin: 0.8rem 0rem;
}

.box {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.8rem 0rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
  box-sizing: border-box;
  gap: 2px;
}

.box-title {
  font-size: 2rem;
  margin-right: auto;
  margin-left: 1rem;
}

.box-count {
  font-size: 4rem;
  margin-right: 1rem;
}

.data-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}

.chart-container {
  align-self: flex-start;
  flex: 0 0 70%;
  min-height: 400px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
}

.raw-data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chart {
  width: 100%;
  padding: 0.4rem;
}

#members-chart-container {
  max-height: 300px;
}

.raw-data {
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  border: 2px solid white;
  border-radius: 8px;
}

.raw-data-button,
.add-journal {
  display: block;
  color: black;
  margin-top: auto;
  flex-grow: 1;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 0px;
  text-decoration: none;
  background: rgba(60, 179, 113, 1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.raw-data-button:hover,
.add-journal:hover {
  background: rgba(60, 179, 113, 0.6);
  border: 2px solid #2e8b57;
}

.raw-data-button:active,
.add-journal:active {
  background: rgba(60, 179, 113, 0.25);
  border: 2px solid #2e8b57;
}

.lower-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.journals,
.expires-soon {
  padding: 0.8rem 1.2rem;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.journals h1,
.expires-soon h1 {
  font-size: 2.2rem;
}

.journals h3,
.expires-soon h3 {
  font-size: 1.6rem;
}

.journals p,
.expires-soon p {
  font-size: 1.25rem;
}

.expires-soon {
  flex: 1;
}

.journals {
  align-self: flex-start;
  flex: 0 0 70%;
}

.journal-container,
.member-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.journal,
.member {
  border-bottom: 2px solid white;
}

.remove-journal {
  font-size: 1.4rem;
  margin: 0.4rem 0rem;
  padding: 0.8rem 1rem;
  flex-grow: 1;
  width: 100%;
}

.remove-journal:hover {
  color: white;
}

.journal-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.journal-manager input,
.journal-manager textarea,
.add-journal {
  width: 100%;
}

.journal-manager input,
.journal-manager textarea {
  border: 1px solid white;
  color: white;
  background: none;
  padding: 0.35rem;
  font-size: 1.45rem;
  text-align: left;
  font: "Outfit";
}

.journal-manager input {
  height: 4rem;
}

.journal-manager textarea {
  height: 5rem;
}

.add-journal {
  margin-top: 6px;
}

textarea {
  padding: 0.35rem;
  font-size: 1.45rem;
  font-family: "Outfit";
}

textarea::placeholder {
  font-size: 1.45rem;
  font-family: "Outfit";
}

#membersChart {
  height: 50% !important;
}

@media (max-width: 1024px) {
  .logo img {
    height: 2.2rem;
  }

  .logo-container {
    padding-left: 0rem;
    gap: 0rem;
  }

  .menu {
    padding-right: 0rem;
  }

  .logo-container span {
    font-size: 1.5rem;
  }

  .menu {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 10rem;
    margin-right: 0;
    padding: 0.8rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(2rem);
    transition: all 0.2s ease;
  }

  .menu a {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    box-shadow: 2px 2px #000;
    display: block;
    width: 100%;
  }

  .menu a:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: none;
    background: none;
    color: black;
  }

  .account {
    width: 100%;
  }

  .account h2 {
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
  }

  .logout {
    width: 100%;
  }

  .logout:hover {
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
  }

  .menu.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .burger {
    display: block;
  }

  .burger-container {
    margin-right: 0.5rem;
  }

  .account {
    flex-direction: column;
  }

  .box-container {
    flex-direction: column;
  }

  .data-container {
    flex-direction: column;
  }

  .chart-container {
    flex: 1;
    width: 100%;
  }

  .raw-data-container {
    width: 100%;
  }

  .lower-section {
    flex-direction: column;
  }

  .expires-soon {
    flex: 1;
    width: 100%;
  }

  .journals {
    flex: 1;
    width: 100%;
  }

  .chart {
    width: 100%;
    height: 100%;
  }

  #members-data-container {
    flex-direction: column-reverse;
  }
}
