* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-hightlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a:focus, a:active {
  outline: none;
  box-sizing: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', Sans-Serif;
  background-color: #151515;
  color: white;
}

html.sr .load-hidden {
  visibility: hidden;
}

img {
  width: 100%;
}

a, button {
  background: none;
  border: none;
}

.navbar-container {
  display: none;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background: rgba(63,150,120,0.85);
  padding: 0.2rem 0.5rem;
}

.navbar-main {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.open-navbar {
  font-size: 1.8rem;
}

.main {
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.heading, .subheading {
  margin-bottom: 0.8rem;
}

.heading {
  font-size: 2.1rem;
}

.subheading {
  font-size: 1.4rem;
}