* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-hightlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

a:focus,
a:active {
  outline: none;
  box-sizing: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", Sans-Serif;
  background-color: #151515;
  color: white;
}

html.sr .load-hidden {
  visibility: hidden;
}

img {
  width: 100%;
}

a,
button {
  background: none;
  border: none;
}

ol {
  list-style: disc;
}

li {
  margin-left: 1rem;
}

.navbar-container {
  display: none;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background: rgba(63, 150, 120, 0.85);
  padding: 0.2rem 0.5rem;
}

.navbar-main {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.open-navbar {
  font-size: 1.8rem;
}

.main {
  margin: 0rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.heading,
.subheading {
  margin-bottom: 0.8rem;
}

.heading {
  margin-top: 2rem;
  font-size: 2.1rem;
}

.subheading {
  font-size: 1.4rem;
}

.strong {
  font-weight: 700;
}

.warning {
  font-weight: 700;
  color: rgb(250, 180, 20);
}

.error {
  font-weight: 700;
  color: rgb(255, 78, 78);
}

.italic {
  font-style: italic;
}

.page-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}

.page-button {
  text-align: center;
  background: rgb(63, 150, 120);
  padding: 0.6rem 0.8rem;
  box-shadow: 2px 2px white;
  flex: 1;
}

footer {
  text-align: center;
  width: 100%;
  color: black;
  margin-top: 2rem;
  padding: 1rem;
  background: white;
}

.code-block {
  display: block;
  font-size: 1.1rem;
  padding: 0.4rem;
  font-family: Monospace;
  background: rgba(78, 78, 78, 0.3);
  word-break: break-all;
  white-space: pre-wrap;
}

@media (min-width: 768px) {
  p {
    font-size: 1.4rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  .subheading {
    font-size: 1.6rem;
  }

  .image-container {
    width: 50%;
    align-self: center;
  }

  .code-block {
    font-size: 1.6rem;
  }
}
