* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-hightlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a:focus, a:active {
  outline: none;
  box-sizing: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', Sans-Serif;
  background-color: #151515;
  color: white;
}

html.sr .load-hidden {
  visibility: hidden;
}

/*
button {
  background: rgba(255, 255, 255, 1);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
  padding: 0.5rem;
  transition: all 0.2s ease-out;
  font-size: 1rem;
}
*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.7rem;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.3rem;
  padding-left: 1rem;
  gap: 0.15rem;
}

.logo img {
  height: 4rem;
  margin-top: 0.2rem;
  pointer-events: none;
  user-select: none;
}

.logo-container span {
  font-size: 1.7rem;
  font-weight: bold;
}

.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  gap: 0.6rem;
}

.account {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.logout {
  text-align: center;
}

.menu a, .logout, .remove-journal {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0px;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
}
  
.menu a:hover, .logout:hover, .remove-journal:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: none;
  background: none;
  color: black;
}

.logout, .remove-journal {
  background: rgba(237,75,75, 0.9);
}

.logout:hover, .remove-journal:hover {
  border: 2px solid rgba(237,75,75, 0.9);
}

.main {
  margin: 1rem;
  width: 95vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.1rem 0.8rem;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.dash-gym-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 2px;
}

.dash-gym-info h1 {
  font-size: 2.4rem;
}

.gym-info-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 1.2rem;
}

.manager, .members-container {
  padding: 0.8rem 1.2rem;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.members {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.manager {
  align-self: flex-start;
  flex: 0 0 35%;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  padding: 0.8rem 1.2rem;;
  color: white;
  border-radius: 8px;
  width: 100%;
}

.member-form {
  display: flex;
  flex-direction: column;
}

.manager-notes {
  display: flex;
  flex-direction: column;
}

.members-container {
  padding: 0.8rem 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.member-list {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

label {
  font-size: 1.6rem;
  width: 100%;
}

input {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border: 2px solid white;
  background: none;
  border-radius: none;
  color: white;
  width: 100%;
}

select {
  padding: 0.5rem 0.2rem;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.8);
  width: 100%;
}

textarea {
  padding: 0.35rem;
  font-size: 1.45rem;
  font-family: 'Outfit';
  background: rgba(255,255,255,0.8);
  width: 100%;
  resize: none;
}

textarea::placeholder {
  color: black;
  font-size: 1.45rem;
  font-family: 'Outfit';
}

#submit {
  margin-top: 0.4rem;
}

.submit-button, .export-button {
  display: block;
  color: black;
  margin-top: auto;
  flex-grow: 1;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 0px;
  text-decoration: none;
  background: rgba(60,179,113,1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.submit-button:hover, .export-button:hover {
  background: rgba(60,179,113,0.6);
  border: 2px solid #2E8B57;
}

.submit-button:active, .export-button:active {
  background: rgba(60,179,113,0.25);
  border: 2px solid #2E8B57;
}

.info {
  font-size: 1.1rem;
}

#memberNoteInput, #plansInput {
  margin-bottom: 0.2rem;
  width: 100%;
}

#plansInput {
  margin-bottom: 0.4rem;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.65rem 0.45rem;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
  box-sizing: border-box;
  gap: 2px;
  width: 100%;
}

.member-info {
  width: 100%;
}

.export-button {
  font-size: 1.4rem;
  padding: 0.4rem 0.2rem;
}

.member-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.member-buttons .action-buttons, .member-buttons .attendance-buttons {
  flex-grow: 1;
  padding: 0.2rem;
  font-size: 1.4rem;
}

.action-buttons, .attendance-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.attendance-buttons button {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1.25rem;
  display: block;
  color: black;
  font: 'Outfit';
  border-radius: 0px;
  text-decoration: none;
  background: rgba(60,179,113,1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.attendance-buttons button:hover {
  background: rgba(60,179,113,0.6);
  border: 2px solid #2E8B57;
}

.attendance-buttons button:active {
  background: rgba(60,179,113,0.25);
  border: 2px solid #2E8B57;
}

.container-header {
  font-family: 'Outfit';
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.export-button-container {
  flex: display;
  flex-direction: row;
  margin-left: auto;
  gap: 0.4rem;
}

.export-button {
  flex: none;
  padding: 0.6rem;
}

.member-name {
  font-size: 1.8rem;
}

.member-id, .member-duration, .member-status, .member-attendance {
  font-size: 1.4rem;
}

.blue-button {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1.25rem;
  display: block;
  color: black;
  font: 'Outfit';
  border-radius: 0px;
  text-decoration: none;
  background: rgba(53,102,207,1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.blue-button:hover {
  background: rgba(53,102,207, 0.6);
  border: 2px solid #4488e699;
}

.blue-button:active {
  background: rgba(53,102,207,0.25);
  border: 2px solid #4488e699;
}

.red-button {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1.25rem;
  display: block;
  color: black;
  font: 'Outfit';
  border-radius: 0px;
  text-decoration: none;
  background: rgba(243,80,80,1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.red-button:hover {
  background: rgba(243,80,80,0.6);
  border: 2px solid #ff6b6b;
}

.red-button:active {
  background: rgba(243,80,80,0.25);
  border: 2px solid #ff6b6b;
}

.yellow-button {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1.25rem;
  display: block;
  color: black;
  font: 'Outfit';
  border-radius: 0px;
  text-decoration: none;
  background: rgba(233,198,44,1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.yellow-button:hover {
  background: rgba(233,198,44,0.6);
  border: 2px solid #F4D750;
}

.yellow-button:active {
  background: rgba(233,198,44,0.25);
  border: 2px solid #F4D750;
}

.cyan-button {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1.25rem;
  display: block;
  color: black;
  font: 'Outfit';
  border-radius: 0px;
  text-decoration: none;
  background: rgba(117,236,150,1);
  box-shadow: 2px 2px #000;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.cyan-button:hover {
  background: rgba(117,236,150,0.6);
  border: 2px solid #4ce9ac;
}

.cyan-button:active {
  background: rgba(117,236,150,0.25);
  border: 2px solid #4ce9ac;
}

.member-list-info {
  font-size: 1.25rem;
}

@media (max-width: 1024px) {
  .logo img {
    height: 2.2rem;
  }
  
  .logo-container {
    padding-left: 0rem;
    gap: 0rem;
  }
  
  .menu {
    padding-right: 0rem;
  }
  
  .logo-container span {
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 10rem;
    margin-right: 0;
    padding: 0.8rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(2rem);
    transition: all 0.2s ease;
  }
  
  .menu a {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    box-shadow: 2px 2px #000;
    display: block;
    width: 100%;
  }
  
  .menu a:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: none;
    background: none;
    color: black;
  }
  
  .account {
    width: 100%;
  }
  
  .account h2 {
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
  }
  
  .logout {
    width: 100%;
  }
  
  .logout:hover {
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
  }
  
  .menu.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  .burger {
    display: block;
  }
  
  .burger-container {
    margin-right: 0.5rem;
  }
  
  .account {
    flex-direction: column;
  }
  
  .members {
    flex-direction: column;
  }
  
  .container-header {
    flex-direction: column;
  }
  
  .manager {
    flex: 1;
  }
  
  .members-container {
    flex: 1;
  }
  
  .action-buttons {
    flex-direction: column;
  }
  
  .container-header {
    justify-content: center;
  }
  
  .export-button-container {
    margin-left: none;
    margin-right: none;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .export-button {
    width: 100%;
  }
}