.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  background: #1a1a1a;
  padding: 1rem 0.8rem;
  box-shadow: 8px 8px white;
  border: 2px solid white;
  color: white;
  width: 600px;
  max-width: 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: all 0.2s ease;
}

.modal-buttons {
  width: 100%;
  margin-top: 0.8rem;
}

.modal-buttons button {
  width: 100%;
}

.modal-title {
  font-size: 2.6rem;
  margin-bottom: 0.2rem;
}

.modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-container h3,
.modal-container label,
.edit-member-form label {
  margin-top: 0.4rem !important;
  font-size: 1.4rem !important;
  font-weight: bold;
}

.modal-container p,
.edit-member-form input,
.edit-member-form textarea::placeholder {
  font-size: 1.1rem !important;
}

.edit-member-form textarea {
  padding: 0.35rem;
  font-size: 1.45rem !important;
  font-family: "Outfit";
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 45px;
}

.edit-member-form textarea::placeholder {
  color: black;
  font-size: 1.45rem !important;
  font-family: "Outfit";
}

@media (max-width: 1024px) {
  .modal {
    margin: 1.4rem;
    box-shadow: 4px 4px white;
  }
}
