* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-hightlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

a:focus, a:active {
  outline: none;
  box-sizing: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', Sans-Serif;
  background-color: #151515;
  color: white;
  padding-bottom: 5rem;
}

html.sr .load-hidden {
  visibility: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.7rem;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.3rem;
}

.logo img {
  height: 4rem;
  margin-top: 0.2rem;
  pointer-events: none;
  user-select: none;
}

.logo-container span {
  font-size: 1.7rem;
  font-weight: bold;
}

.logo-container {
  padding-left: 1rem;
  gap: 0.15rem;
}

.navbar-content {
  display: flex;
  gap: 1.25rem;
  margin-right: 1rem;
}

.navbar-content a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0px;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
}

.navbar-content a:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: none;
  background: none;
  color: black;
}

.navbar-content a:last-child {
  border-radius: 0px;
  text-decoration: none;
  background-color: #3CB371;
  box-shadow: 2px 2px #000;
  padding: 0.4rem 0.6rem;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.navbar-content a:last-child:hover {
  background: none;
  box-shadow: none;
  color: black;
  border: 2px solid #2E8B57;
}

.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  width: 100%;
  min-height: 100vh;
}

.box {
  width: 100%;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.8rem 0.6rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  gap: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.box h3 {
  font-size: 1.4rem;
  align-self: flex-start;
}

.box p {
  font-size: 1.2rem;
  align-self: flex-start;
}

.box-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin: 1rem;
}

.large h3  {
  font-size: 1.8rem !important;
}

.large p {
  font-size: 1.6rem !important;
  font-weight: bold !important;
}

footer {
  width: 95%;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .logo img {
    height: 2.2rem;
  }
  
  .logo-container {
    padding-left: 0rem;
    gap: 0rem;
  }
  
  .logo-container span {
    font-size: 1.5rem;
  }
  
  .navbar-content {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 10rem;
    margin-right: 0;
    padding: 0.8rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(2rem);
    transition: all 0.2s ease;
  }
  
  .navbar-content a {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    box-shadow: 2px 2px #000;
    display: inline-block;
  }
  
  .navbar-content a:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: none;
    background: none;
    color: black;
  }
  
  .navbar-content a:last-child:hover {
    border: 2px solid #2E8B57;
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
  }
  
  .navbar-content.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  .burger {
    display: block;
  }
  
  .burger-container {
    margin-right: 0.5rem;
  }
  
  .box-container {
    flex-direction: column;
  }
  
  footer {
    font-size: 1.4rem;
  }
}