* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-hightlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a:focus, a:active {
  outline: none;
  box-sizing: none;
}

body {
  font-family: 'Outfit', Sans-Serif;
  background-color: #151515;
  height: 100vh;
}

html.sr .load-hidden {
  visibility: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.7rem;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.3rem;
}

.logo img {
  height: 4rem;
  margin-top: 0.2rem;
  pointer-events: none;
  user-select: none;
}

.logo-container span {
  font-size: 1.7rem;
  font-weight: bold;
}

.logo-container {
  padding-left: 1rem;
  gap: 0.15rem;
}
  
.menu {
  display: flex;
  gap: 1.25rem;
  margin-right: 1rem;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0px;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
}
  
.menu a:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: none;
  background: none;
  color: black;
}

.menu a:last-child {
  border-radius: 0px;
  text-decoration: none;
  background-color: #3CB371;
  box-shadow: 2px 2px #000;
  padding: 0.4rem 0.6rem;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.menu a:last-child:hover {
  background: none;
  box-shadow: none;
  color: black;
  border: 2px solid #2E8B57;
}

.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  background: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hero h1 {
  color: white;
  font-size: 3.5rem;
}

.hero p {
  color: #aaa;
  font-size: 1.25rem;
  max-width: 45ch;
}

.hero a, #btn {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  border: 1.8px solid white;
  background: rgba(217, 217, 217, 0.1);
  padding: 0.85rem 2.2rem;
  box-shadow: 4px 4px #fff;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: all 0.2s ease;
}

.hero a:hover, #btn:hover {
  background: none;
  box-shadow: none;
  border: 1.8px solid ;
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
  padding: 2rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.pricing {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
  padding: 2rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.features h2, .pricing h2 {
  color: white;
  font-size: 2.1rem;
}

.features p, .pricing p, .cta p {
  color: #aaa;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.feature, .plans {
  width: 100%;
  max-width: 65ch;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.feature-container, .plans-container {
  width: 100%;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.1rem 0.4rem;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.feature-container:hover {
  transform: translateY(-0.3rem);
}

.feature-container div h3, .plans-container h3 {
  color: white;
  margin-bottom: 0.2rem;
}

.feature-container div p, .plans-container ul {
  margin-bottom: 0.8rem;
}

.feature-container img {
  width: 90%;
  order: 1;
  max-width: 35rem;
  border-radius: 8px;
  user-select: none;
  pointer-events: none;
}

.plans-container ul {
  color: white;
  font-size: 1.2rem;
  padding-left: 0;
  list-style: disc;
}

.plans-container h3 {
  font-size: 1.4rem;
}

.plans-button, .cta a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0px;
}

.plans-button {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: black;
  border-radius: 0px;
  text-decoration: none;
  background-color: #3CB371;
  box-shadow: 4px 4px #000;
  padding: 0.7rem 3rem;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.plans-button:hover {
  background: none;
  box-shadow: none;
  color: white;
  border: 2px solid #2E8B57;
}

.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
  padding: 2rem 0rem;
}

.cta h1 {
  color: white;
  font-size: 3.1rem;
}

.cta a, .footer a {
  text-align: center;
  display: inline-block;
  color: #000;
  border: 4px solid #000;
  padding: 0.7rem 2rem;
  font-size: 1.4rem;
  box-shadow: 4px 4px rgba(0, 0, 0, 1);
  transition: all 0.2s ease;
}

.cta a {
  color: #fff;
  border: 4px solid #fff;
  box-shadow: 4px 4px rgba(255, 255, 255, 0.7);
}

.cta a:hover, .footer a:hover {
  background:rgba(60,179,113,0.8);
  box-shadow: none;
}

.footer {
  margin-top: 2rem;
  width: 100%;
  background: #F2F2F2;
  padding: 2rem 1.4rem;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.footer img {
  height: 4rem;
}

@media (max-width: 768px) {
  .logo img {
    height: 2.2rem;
  }
  
  .logo-container {
    padding-left: 0rem;
    gap: 0rem;
  }
  
  .menu {
    padding-right: 0rem;
  }
  
  .logo-container span {
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 10rem;
    margin-right: 0;
    padding: 0.8rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(2rem);
    transition: all 0.2s ease;
  }
  
  .menu a {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    box-shadow: 2px 2px #000;
    display: inline-block;
  }
  
  .menu a:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: none;
    background: none;
    color: black;
  }
  
  .menu a:last-child:hover {
    border: 2px solid #2E8B57;
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
  }
  
  .menu.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  .burger {
    display: block;
  }
  
  .burger-container {
    margin-right: 0.5rem;
  }
  
  .hero h1 {
    font-size: 2.1rem;
  }
  
  .hero p {
    font-size: 1.1rem;
    max-width: 30ch;
  }
  
  .hero a {
    padding: 0.6rem 1.2rem;
  }
  
  .features h2, .pricing h2 {
    font-size: 1.4rem;
  }
  
  .cta h1 {
    font-size: 1.9rem;
  }
  
  .cta p {
    margin: 0.2rem;
  }
  
  .footer {
    align-items: center;
    text-align: center;
  }
  
  .footer a {
    display: none;
  }
}

@media (min-width: 992px) {
  .feature-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-direction: row;
    width: 80vw;
    text-align: left;
    flex: 1;
    max-width: 1000px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .feature-container:nth-child(odd) {
    flex-direction: row-reverse;
  }
  
  .feature-container div {
    flex: 2;
  }
  
  .feature-container div h3, .plans-container h3 {
    font-size: 2rem;
  }
  
  .feature-container div p, .plans-container p {
    font-size: 1.4rem;
  }
  
  .feature-container img {
    left: 2rem;
    width: 24rem;
    height: auto;
    order: -1;
    flex: 1;
  }
  
  .plans {
    flex-direction: row;
    align-items: stretch;
  }
  
  .plans > div {
    flex: 1;
  }
  
  .plans-container a {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  
  .plans-container h3:nth-of-type(2) {
    margin-top: auto;
    margin-bottom: 0.6rem;
  }
}