* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-tap-hightlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

a:focus, a:active {
  outline: none;
  box-sizing: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', Sans-Serif;
  background-color: #151515;
  color: white;
  padding-bottom: 5rem;
}

html.sr .load-hidden {
  visibility: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.7rem;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.3rem;
}

.logo img {
  height: 4rem;
  margin-top: 0.2rem;
  pointer-events: none;
  user-select: none;
}

.logo-container span {
  font-size: 1.7rem;
  font-weight: bold;
}

.logo-container {
  padding-left: 1rem;
  gap: 0.15rem;
}

.navbar-content {
  display: flex;
  gap: 1.25rem;
  margin-right: 1rem;
}

.navbar-content a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0px;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  display: inline-block;
}

.navbar-content a:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: none;
  background: none;
  color: black;
}

.navbar-content a:last-child {
  border-radius: 0px;
  text-decoration: none;
  background-color: #3CB371;
  box-shadow: 2px 2px #000;
  padding: 0.4rem 0.6rem;
  text-align: center;
  display: inline-block;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

.navbar-content a:last-child:hover {
  background: none;
  box-shadow: none;
  color: black;
  border: 2px solid #2E8B57;
}

.burger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

footer {
  text-align: center;
  width: 100%;
  color: black;
  margin-top: auto;
  padding: 1rem;
  background: white;
  margin-top: 10vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
}

.hero {
  width: 100%;
  padding: 2rem 1rem;
  background: #151515;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 2rem;
  color: #aaa;
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 40vh;
  max-height: 400px;
  padding: 0.6rem 0.8rem;
  margin: 0.2rem 0.4rem;
  gap: 1.2rem;
}

.tools {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.tools h2 {
  font-size: 2.8rem;
}

.tools p {
  font-size: 2rem;
}

.tools a, .select-tools-button {
  margin-top: auto;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  background: rgba(67,135,250,0.8);
  border: 4px solid transparent;
  padding: 0.6rem;
  transition: all 0.2s ease;
  display: inline-block;
}

.tools a:hover, .select-tools-button:hover {
  border: 4px solid rgba(67,135,250,0.8);
  background: none;
  color: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.select-tools-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}

.tool-input-container {
  width: 95%;
  border: 1px solid white;
}

.output-container {
  width: 95%;
  border: 1px solid white;
  padding: 0.8rem;
}

.output {
  width: 100%;
  font-size: 1.4rem;
}


.tools-element {
  padding: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.tools-element h1 {
  font-size: 2rem;
  text-align: center;
}

.tools-element input {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background: white;
  padding: 1rem 2rem;
}

.tools-element button {
  width: 100%;
  font-size: 1.8rem;
  border: none;
  background: rgba(100, 250, 200, 0.8);
  padding: 0.8rem 0.6rem;
  transition: all 0.2s ease;
}

.tools-element button:hover {
  background: rgba(100, 250, 200, 0.6);
}

@media (max-width: 768px) {
  .logo img {
    height: 2.2rem;
  }
  
  .logo-container {
    padding-left: 0rem;
    gap: 0rem;
  }
  
  .logo-container span {
    font-size: 1.5rem;
  }
  
  .navbar-content {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 10rem;
    margin-right: 0;
    padding: 0.8rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(2rem);
    transition: all 0.2s ease;
  }
  
  .navbar-content a {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    box-shadow: 2px 2px #000;
    display: inline-block;
  }
  
  .navbar-content a:hover {
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: none;
    background: none;
    color: black;
  }
  
  .navbar-content a:last-child:hover {
    border: 2px solid #2E8B57;
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
  }
  
  .navbar-content.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  .burger {
    display: block;
  }
  
  .burger-container {
    margin-right: 0.5rem;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1rem;
  }
  
  .tools-container, .select-tools-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  
  .tools {
    padding: 0.4rem;
  }
  
  .tools h2 {
    font-size: 1.8rem;
  }
  
  .tools p {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }
  
  .tools a {
    font-size: 1rem;
    padding: 0.4rem;
  }
  
  .select-tools-button {
    font-size: 1rem;
  }
  
  .tool-input-container {
    width: 90%;
  }
  
  .output-container {
    width: 90%;
  }
  
  footer {
    margin-top: 20vh;
  }
}